@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
body{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    background-color: rgb(37, 27, 27);
    color:#00ffe8;
    overflow-x: hidden;
    font-family: 'Inconsolata', monospace;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #0e0c2d;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#00ffe8;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0099ff;
  }

  h1{
      font-size: 40px;
      font-weight: 600;
  }

section{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100px;
    padding: 80px 20vw;
}

.item1{
    background-color: #0e0c2d;
}

.item2{
    background-color:#0027ff;

}

.shape2{
    aspect-ratio: 900/450;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}

.wave{
    background-image: url('./wave2.svg');
}

.logo{
    height: 200px;
    width: 700px;
}

/* animations */
#rocket {
    animation: rocket 5s infinite alternate;
}

@keyframes rocket {
    from {
        transform: rotateX(0deg);
    }
    to {
        transform: rotateX(90deg);
    }
}

#tree {
    animation: tree 2s infinite alternate;
}

@keyframes tree {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(20deg);
    }
}

#logo{
    animation: logo 6s infinite alternate;
}

@keyframes logo {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(2deg);
    }
}

#stars {
    animation: stars 6s infinite alternate-reverse;

}

@keyframes stars {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(5px);
    }
}

#shootingStars {
    animation: shootingstars 2s infinite alternate;

}

@keyframes shootingstars {
    from {
        transform: translateY(0px);
        transform: translateX(0px);
    }
    to {
        transform: translateY(20px);
        transform: translateX(5px);
    }
}